Kernel/build
Kernel/dist
Kernel/targets/limine
Kernel/targets/x86_64/image.iso
Kernel/targets/x86_64/limine
.vscode
Kernel/targets/x86_64/iso/boot/atrikrnl.elf
Kernel/targets/x86_64/iso/boot/atrikrnl.bin
